%section
  .container
    .row
      .col-md-12
        = form_for(@item, :url => url_for(:controller => 'admins', :action => "#{action}")) do |f|
          %fieldset
            - if @item.errors.any?
              #error_explanation
                %h2
                  = pluralize(@item.errors.count, "error")
                  prohibited this item from being saved:
                %ul
                  - @item.errors.full_messages.each do |msg|
                    %li= msg
            .form-group
              %label.col-md-3.control-label Tài khoản
              .col-md-9
                = f.text_field :user_name, :required => true, class: 'form-control'
              .clearfix
            .form-group
              %label.col-md-3.control-label Email
              .col-md-9
                = f.email_field :email, :required => true, class: 'form-control'
              .clearfix
            .form-group
              %label.col-md-3.control-label Địa chỉ
              .col-md-9
                = f.text_field :address, :required => true, class: 'form-control'
              .clearfix
            .form-group
              %label.col-md-3.control-label Phone
              .col-md-9
                = f.text_field :phone, class: 'form-control'
              .clearfix
            .form-group
              %label.col-md-3.control-label Password
              .col-md-9
                = f.password_field :password, :required => true, class: 'form-control'
              .clearfix
            
            .text-right
              = f.submit "Hoàn thành", :class => 'btn', class: 'btn.btn-info'
              .clearfix

/ :javascript
/   / jQuery('#admin').validate({
/   /   rules:{
/   /     'confirm_password': { equalTo: "#{password}"}
/   /   }
/   / })
