= form_for(@item, :url => url_for(:controller => 'sports', :action => "#{action}")) do |f|
  %fieldset
    - if @item.errors.any?
      #error_explanation
        %h2
          = pluralize(@item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      %label.col-md-3.control-label Tên môn
      .col-md-9
        = f.text_field :name, :required => true, class: 'form-control'
      .clearfix
    .text-right
      = f.submit "Hoàn thành", :class => 'btn', class: 'btn.btn-info'
      .clearfix