.row
  #myModal.simple-modal.modal.fade{:role => "dialog"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        .modal-body
          = form_for(resource, :as => resource_name,
                               :url => session_path(resource_name) ,
                               :html => {:id => "sign_in_user"},
                               :format => :html ) do |f|
            %table
              %tr{:valign => "middle"}
                %td{:width => "120px"}
                  Email
                %td
                  = f.email_field :email, placeholder: 'email'
              %tr{:valign => "middle"}
                %td
                  Mật khẩu
                %td
                  = f.password_field :password, placeholder: "password"
            - if devise_mapping.rememberable?
              %table
                %tr
                  %td{:valign => "bottom", :width => '30'}
                    = f.check_box :remember_me
                  %td{:valign => "bottom"}
                    = f.label 'Ghi nhớ'
            %br/
            %hr/
            %br/
            %div
              %table
                %tr
                  %td{:width => "120px"}
                    = f.submit "Đăng nhập", class: 'btn btn-primary btn-medium ohshit'
                  %td
                    .text-error
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close