%section
  .container
    .row
      .col-md-12
        %table.table
          %tr
            %th
              TT
            %th
              Tên nhóm đối tượng
            %td
            %td
          - Group.all.each_with_index do |item, index|
            %tr
              %td= params[:page] ? (params[:page].to_i - 1) * 10 + index + 1 : index + 1
              %td= item.name
              %td= link_to '', edit_group_path(item), :class => "fa fa-edit"
              %td= link_to '', groups_path + "/" + item.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o"
        = link_to 'Tạo user', new_group_path, :class => "btn btn-primary"
        %br/
        .clear
        %br/