.navbar.navbar-inverse.no-border
  .navbar-inner
    %ul.nav.navbar-nav.navbar-right.secondary-nav
      - if user_signed_in?
        - if is_admin?
          %li
            = link_to 'Môn thể thao',sports_path
          %li
            = link_to 'Nhóm đối tượng',groups_path
          %li
            = link_to 'Đối tượng',subjects_path
          %li
            = link_to current_user.user_name, home_admin_path
          %li
            = link_to 'Thoát', destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to current_user.user_name, root_path
          %li
            = link_to 'Thoát', destroy_user_session_path, :method => :delete
      - else
        %li
          %button.btn.btn-info.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Đăng nhập
          %i.sep.light-blue
            = '|'
        /%a#headerCustRegLogin Đăng k

