= form_for(@item, :url => url_for(:controller => 'admins', :action => :update_config),:html => { :method => :put}) do |f|
  %fieldset
    - if @item.errors.any?
      #error_explanation
        %h2
          = pluralize(@item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      %label.col-md-3.control-label Tựa đề
      .col-md-9
        = f.text_field :pro_title, class: 'form-control'
      .clearfix
    .form-group
      %label.col-md-3.control-label Nội dung
      .col-md-9
        = f.cktext_area :pro_content, class: 'form-control'
      .clearfix
    .text-right
      = f.submit "Hoàn thành", :class => 'btn', class: 'btn.btn-info'
      .clearfix
      
    / %table{:width => '100%'}
    /   %tr
    /     %td
    /       Tựa đề
    /     %td
    /       = f.text_field :pro_title
    /     %td
    /   %tr
    /     %td{:width => '150px'}
    /       Nội dung
    /     %td{:width => '600px'}
    /       = f.text_area :pro_content
    /     %td
    /   %tr
    /     %td{:width => '150px'}
    /       Hiển thị
    /     %td{:width => '600px'}
    /       = f.check_box :show_popup
    /     %td
    /   %tr
    /     %td
    /     %td{:colspan => 2}
    /       %hr/
    /       .actions
    /         = f.submit "Hoàn thành", :class => 'btn', :style => "padding: 10px 20px"
            
/ :javascript 
/   inialize_editor('#main_setting_pro_content');