= form_for(@item, :url => url_for(:controller => 'admins', :action => :update_config),:html => { :method => :put}) do |f|
  %fieldset
    - if @item.errors.any?
      #error_explanation
        %h2
          = pluralize(@item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      %label.control-label Nội dung
      = f.cktext_area :term, class: 'form-control'
      .clearfix
    .text-right
      = f.submit "Hoàn thành", :class => 'btn', class: 'btn.btn-info'
      .clearfix
/ :javascript 
/   inialize_editor('#main_setting_introduction');btn.btn-default