%table.table
  %tr
    %th
      TT
    %th
      Tài khoản
    %th
      Email
    %th
      Phone
    %th
      Lần đăng nhập cuối
    %td
    %td
  - User.all.each_with_index do |item, index|
    %tr
      %td= params[:page] ? (params[:page].to_i - 1) * 10 + index + 1 : index + 1
      %td= item.user_name
      %td= item.email
      %td= item.phone
      %td= item.last_sign_in_at.strftime '%d/%m/%Y' if item.last_sign_in_at
      %td= link_to '', edit_admin_path(item), :class => "fa fa-edit"
      %td= link_to '', admins_path + "/" + item.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o"
= link_to 'Tạo user', new_admin_path, :class => "btn btn-primary"
%br/
.clear
%br/